{# {% extends 'base.html.twig' %} #}

{% block title %}Profile Page{% endblock %}

{% block body %}
 You are logged in as {{ app.user.userIdentifier }}
 <div>
  {% if isLoggedIn %}
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Logout</a>
    {% endif %}
</div>

<div class="example-wrapper">

   {{ form_start(profileForm) }}
{{ form_row(profileForm.first_name) }}
{{ form_row(profileForm.last_name) }}
{{ form_row(profileForm.date_of_birth) }}
{{ form_row(profileForm.email) }}
{{ form_row(profileForm.phonenumber) }}
{{ form_row(profileForm.foto_url) }}
{{ form_row(profileForm.address) }}
{{ form_row(profileForm.postalcode) }}
{{ form_row(profileForm.location) }}
{{ form_row(profileForm.motivation) }}
<button type="submit">Save</button>
{{ form_end(profileForm) }}
</div>

{% endblock %}
