{% extends 'base.html.twig' %}

{% block title %}Profile Page{% endblock %}

{% block body %}
  You are logged in as {{ app.user.userIdentifier }}<br>

  <h1>Profiel</h1>

  <p><img src="{{ profile.fotoUrl }}" alt="Profielfoto"></p>

  <form method="POST" action="{{ path('app_save_profile') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('CSRF') }}">
    
    <label for="firstname">Voornaam:</label>
    <input type="text" id="firstname" name="firstname" value="{{ profile.firstname }}"><br>

    <label for="lastname">Achternaam:</label>
    <input type="text" id="lastname" name="lastname" value="{{ profile.lastname }}"><br>

    <label for="dateOfBirth">Geboortedatum:</label>
    <input type="date" id="dateOfBirth" name="dateOfBirth" value="{{ profile.dateOfBirth }}"><br>

    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email" value="{{ profile.email }}"><br>

    <label for="phonenumber">Telefoonnummer:</label>
    <input type="tel" id="phonenumber" name="phonenumber" value="{{ profile.phonenumber }}"><br>

    <label for="address">Adres:</label>
    <input type="text" id="address" name="address" value="{{ profile.address }}"><br>

    <label for="postalcode">Postcode:</label>
    <input type="text" id="postalcode" name="postalcode" value="{{ profile.postalcode }}"><br>

    <label for="location">Locatie:</label>
    <input type="text" id="location" name="location" value="{{ profile.location }}"><br>

    <label for="motivation">Motivatie:</label>
    <textarea id="motivation" name="motivation">{{ profile.motivation }}</textarea><br>

    <label for="fotoUrl">Foto URL:</label>
    <input type="text" id="fotoUrl" name="fotoUrl" value="{{ profile.fotoUrl }}"><br>

    <button type="submit">Opslaan</button>
  </form></br></br>

  <form action="{{ path('upload_profile') }}" method="POST" enctype="multipart/form-data">
    <label for="imageFile">Foto uploaden:</label>
    <input type="file" name="imageFile" id="imageFile" accept="image/*">
    
    <label for="cvFile">CV uploaden (PDF):</label>
    <input type="file" name="cvFile" id="cvFile" accept=".pdf">
    
    <input type="submit" value="Uploaden">
</form>

  <a href="{{ path('app_delete_profile') }}">Verwijder Profiel</a>
{% endblock %}

