{% extends 'base.html.twig' %}

{% block title %}Hello Company!{% endblock %}

{% block body %}
<style>
    
</style>

<div>
    <h1>Bedrijfsinformatie</h1>
    <p>Bedrijfsnaam: {{ user.company.name }}</p>
    <p>Adres: {{ user.company.address }}</p>
    <p>Locatie: {{ user.company.location }}</p>
    <p>Postcode: {{ user.company.postalCode }}</p>
    <p>E-mail: {{ user.company.email }}</p>
    <p>Telefoonnummer: {{ user.company.phonenumber }}</p>
    <p><img src="{{ user.company.logoUrl }}" alt="Bedrijfslogo"></p>

</div> 
{% endblock %}
