<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
      <header>
    <nav>
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
            <li><a href="{{ path('app_login') }}">Login</a></li>
              {% if app.user %}
            <li>You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a></li>
             {% endif %}
            <!-- Add more navigation links as needed -->
        </ul>
    </nav>
    </header>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <script src="{{ asset('js/scripts.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
