{% extends 'base.html.twig' %}

{% block title %}Hello DetailpageController!{% endblock %}

{% block body %}

<div>
    <p><img src="{{ vacancy.logoFunctionUrl }}" alt="Vacaturelogo"></p>
   <p><h4>Titel</h4>{{vacancy.title}}</p>
   {# <p>{{vacancy.date}}</p> #}
   <p><h4>Niveau</h4>{{vacancy.level}}</p>
   <p><h4>Locatie</h4>{{vacancy.location}}</p>
   <p><h4>Omschrijving</h4>{{vacancy.description}}</p>
</div>
{% endblock %}
